{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Bienvenido a TeleMen&uacute; &iquest; Tienes hambre &quest;</h1>

    </div>
</div>
<br/>
<!--  
<a class="btn btn-primary" href="/new">
    Crear anuncio
    <span style="margin-left: 5px;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
</a>
-->
<br/>
<br/>



        <script type="text/javascript">
            window.onload = function() {
                if(!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            }
        </script>

{% endblock content %}
